* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    margin-bottom: 30px;
}

.navbar {
    text-transform: uppercase;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.btn-outline-success,
.buy-now {
    background-image: linear-gradient(to bottom, #ff5098 0%, #ff136f 100%);
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-outline-success:hover,
.buy-now:hover {
    opacity: 0.8;
}

.btn-outline-success {
    font-weight: bold;
    padding: 6px 22px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cat1 {
    background: rgb(255, 168, 29);
    background: linear-gradient(28deg, rgba(255, 168, 29, 1) 11%, rgba(255, 194, 31, 1) 69%, rgba(255, 206, 20, 1) 93%);
}

.cat2 {
    background: rgb(210, 83, 206);
    background: linear-gradient(173deg, rgba(210, 83, 206, 1) 11%, rgba(209, 100, 205, 0.9332107843137255) 69%, rgba(232, 162, 229, 1) 93%);
}

.cat3 {
    background: rgb(58, 58, 182);
    background: linear-gradient(137deg, rgba(58, 58, 182, 1) 11%, rgba(84, 84, 193, 1) 69%, rgba(140, 140, 222, 1) 93%);
}